.col-form-pixel {
  max-width: 672px;
  h2 {
    font-size: 1.4em;
    letter-spacing: 0.01em;
    border-bottom: 0.5px solid #ccc;
    padding-bottom: 16px;
    margin: 0;
  }

  #emergency {
    padding: 20px;
    border-left: 0.5px solid #ccc;
    h3 {
      font-size: 1em;
      margin: 0;
      padding-top: 15px;
      border-top: 0.5px solid #ccc;
    }
    h4 {
      font-weight: bold;
      font-size: 0.8em;
      margin-bottom: 5px;
      letter-spacing: 0.02em;
      padding-top: 11px;
    }
    label {
      display: block;
      font-size: 0.7em;
      margin: 0;
      padding: 2px 0 12px;
    }

    .flex-block {
      display: flex;

      .flex-item {
        display: flex;
        flex-direction: column;
      }
    }
    .flex-align-block {
      align-items: flex-end;
    }
    .flex-align-item {
      align-self: flex-end;
    }

    .form-control-border {
      border: 1px solid #cccccc;
      border-top: 1.5px solid #7474748f;
    }
    .box-height {
      height: 22px;
    }
    .box-height-1 {
      height: 135px;
    }
    .box-size-1 {
      width: 18px;
    }
    .box-size-2 {
      width: 25px;
    }
    .box-size-3 {
      width: 35px;
    }
    .box-size-4 {
      width: 68px;
    }
    .box-size-5 {
      width: 116px;
    }
    .box-size-6 {
      width: 288px;
    }
    .box-size-100 {
      width: 600px;
    }

    .m-right-1 {
      margin-right: 5px;
    }
    .m-right-2 {
      margin-right: 25px;
    }
    .m-right-3 {
      margin-right: 124px;
    }
    .m-duo-x {
      margin: 0 5px;
    }
    .p-top-0 {
      padding-top: 0;
    }
    .p-bottom-1 {
      padding-bottom: 6px;
    }
    .round {
      border-radius: 5px;
    }
    .bg-color-white {
      background-color: white;
    }
    .submit {
      border: 0.5px solid #ccc;

      font-size: 0.8em;
      margin: 15px 0;
    }
  }
}
@media all and (max-width: 500px) {
  .col-form-goal {
    img {
      width: 100%;
    }
  }
  .col-form-pixel {
    max-width: 100%;
    line-height: 0.9em;
    h2 {
      font-size: 0.7em;
      padding-bottom: 4px;
    }

    #emergency {
      padding: 10px;
      h3 {
        font-size: 0.8em;
        margin: 0;
        padding-top: 7px;
        border-top: 0.5px solid #ccc;
      }
      h4 {
        font-size: 0.6em;
        margin-bottom: 2px;
        padding-top: 10px;
      }
      label {
        font-size: 0.5em;
        padding: 0px 0 10px;
      }

      .box-height {
        height: 14px;
      }
      .box-height-1 {
        height: 80px;
      }
      .box-size-1 {
        width: 18px;
      }
      .box-size-2 {
        width: 25px;
      }
      .box-size-3 {
        width: 35px;
      }
      .box-size-4 {
        width: 40px;
      }
      .box-size-5 {
        width: 55px;
      }
      .box-size-6 {
        width: 164px;
      }
      .box-size-100 {
        max-width: 100%;
      }

      .m-right-1 {
        margin-right: 5px;
      }
      .m-right-2 {
        margin-right: 25px;
      }
      .m-right-3 {
        margin-right: 90px;
      }
      .m-duo-x {
        margin: 0 5px;
      }
      .p-top-0 {
        padding-top: 0;
      }
      .p-bottom-1 {
        padding-bottom: 6px;
      }
      .round {
        border-radius: 3px;
      }
      .submit {
        font-size: 0.5em;
        margin: 7px 0;
      }
      select {
        font-size: 0.5em;
      }
    }
  }
}
