header#nav {
  position: relative;
  padding-bottom: 50px;

  h1 {
    font-size: 3vw;
    padding: 5vw;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    li {
      padding: 0.5%;
      width: 8%;

      transition: 0.3s;

      a {
        font-size: 1.4vw;
        color: rgb(255, 255, 255);
        font-weight: bold;
        background-color: #172c49;
        display: inline-block;
        width: 100%;
        border-radius: 5vw;
        text-align: center;
        line-height: 2.8vw;
        text-decoration: none;
        &:hover {
          text-decoration: none;
          background-color: #505458 !important;
        }
        &:last-child {
          box-shadow: 2px 2px 4px rgba(37, 37, 37, 0.486);
          border-radius: 5vw;
        }
      }
      &:last-child {
        position: fixed;
        z-index: 9999;
        width: 8%;
        top: 2%;
        right: 2%;
        font-weight: bold;
        transform: rotate(180deg);
      }
    }
  }
}
