$footer-text-color: #b0aca4;
$footer-icon-color: #7b7974;

.container-footer {
  color: $footer-text-color;
  font-size: 1vw;
  .title-hidden {
    display: none;
  }
  .col-footer-goal {
    img {
      width: 100%;
    }
  }
  .col-footer-pixel {
    padding: 1.5%;
    background-color: #f8f3e9;
    .pad-icon {
      a {
        color: $footer-icon-color;
        padding: 0.85em;
        // font-size: 1vw;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .pad-text {
      padding-right: 1.5vw;
      a {
        color: $footer-text-color;

        // font-size: 1vw;
        padding: 0.8vw;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  p {
    margin-left: 1.6vw;
  }
  .flex-block {
    display: flex;
  }
  .flex-justify-content-between {
    justify-content: space-between;
  }
  .flex-item-center {
    align-items: center;
  }
}
