.col-zone-benefits-grid-pixel {
  font-size: 1.2vw;
  line-height: 1.4vw;
  letter-spacing: 0.07em;
  .flex-block {
    display: flex;
    justify-content: center;
    .flex-item {
      display: flex;
      flex-direction: column;
    }
    li {
      max-width: 25%;
      min-width: 20%;
      padding: 1.4vw;
      .size-content {
        width: 80%;
        margin: auto;
        height: 20vw;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
        #grunt {
          width: 66%;
        }
        #gulp {
          width: 35%;
        }
        #octocat {
          width: 80%;
        }
        #npm {
          width: 69%;
        }
      }
    }
    h3 {
      font-size: 2.3vw;
      font-weight: 100;
      letter-spacing: 0.05em;
      color: #7fbf94;
      padding-bottom: 1.6vw;
      padding-left: 1.7vw;
    }
    p {
      padding-left: 1.7vw;
      width: 85%;
    }
  }
}
