.col-custom-numeric-pixel {
  font-size: 1.2vw;
  line-height: 1.1em;
  position: relative;

  ol {
    width: 42%;
    margin: auto;
    padding: 3vw 4vw 3vw 0px;
    li:first-child {
      background: url(../img/numeric-counter-01.png) no-repeat -2% -5%;
      background-size: 10%;
    }
    li:nth-child(2) {
      background: url(../img/numeric-counter-02.png) no-repeat -2% -5%;
      background-size: 10%;
    }
    li {
      list-style-type: none;
      padding-bottom: 2vw;
      h3 {
        font-size: 1.2vw;
        color: #4c5f80;
      }
      p,
      h3 {
        padding-left: 4vw;
      }
      p {
        a {
          color: #535e7a;
        }
      }
    }
  }
  .content-diggs {
    position: absolute;
    top: 0px;
    left: 70%;
    font-family: sans-serif;

    .diggs {
      width: 2.5vw;
      text-align: center;
      background: linear-gradient(#fff29d, #fdf4cd);
      border-radius: 10px 3px;

      padding: 0.8vw;
    }
    .diggs-it {
      display: block;
      text-align: center;
      padding: 0.3vw;
      border: 0.1vw solid #e0e4e5;
      color: #54657f;
      font-size: 0.8em;
      font-weight: bold;
      text-decoration: none;
      margin-top: 0.3vw;
    }
  }
}
