.col-ecommerce-catalog-pixel {
  padding: 0;
  font-family: sans-serif;
  ul {
    display: flex;
    border-left: 1px solid #d8d8d8;
    li {
      width: 25%;
      border-right: 1px solid #d8d8d8;
      border-top: 1px solid #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
      padding: 2vw;
      position: relative;
      .deal {
        position: absolute;
        top: 0;
        left: 0;
        color: #ce4442;
        font-size: 0.9vw;
        font-weight: bold;

        span {
          display: inline-block;
          background-color: #ce4442;
          color: white;
          padding: 0.5vw;
          margin-right: 15px;
        }
      }
      .content-img {
        width: 70%;
        margin: 0 auto;
        padding: 7vw 0;
        position: relative;
        img {
          width: 100%;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
      }
      p {
        font-size: 1vw;
      }
      .description {
        font-weight: bold;
        padding-bottom: 2vw;
      }
      .description-mark {
        color: #aaaaaa;
        padding-bottom: 3vw;
      }
      .price-promo {
        color: #ce4442;
        display: inline;
        font-size: 1.7vw;
        font-weight: bold;
        span {
          font-size: 1vw;
        }
      }
      .not-price {
        display: inline-block;
        text-decoration: line-through;
        margin: 0;
      }
      .promo-texte {
        font-size: 0.8vw;

        color: #aaaaaa;
        padding-bottom: 2vw;
        span {
          color: #ce4442;
          font-weight: bold;
        }
      }
      a {
        display: block;
        padding: 1.3vw;
        background-color: #eeb03e;
        color: white;
        font-size: 1vw;
        font-weight: bold;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
