header#nav {
  position: relative;
  ul {
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
    padding-top: 20px;
    width: 500px;
    margin: 0 auto;
    li {
      padding: 5px 5px;
      width: 20%;
      height: 100px;
      transition: 0.3s;
      a {
        font-size: 2em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        background-color: #172c49;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;

        &:hover {
          text-decoration: none;
          background-color: #505458 !important;
        }
      }
      &:last-child {
        position: fixed;
        z-index: 9999;
        width: 100px;
        height: 100px;
        top: 20px;
        right: 20px;
        font-weight: bold;
        transform: rotate(180deg);
      }
    }
  }
}

@media all and (max-width: 500px) {
  header#nav {
    ul {
      width: 250px;
      li {
        width: 50px;
        height: 50px;
        padding: 2px;
        transition: 0.3s;
        a {
          line-height: 50px;
        }

        &:last-child {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
