body {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
}

.content-100 {
  width: 100%;
}

.content-50 {
  width: 50%;
  margin: 0 auto;
}

.section-cut {
  font-family: sans-serif;
  clear: both;
  background-color: #dda576;
  margin: 10px 0;
  color: white;
  font-size: 3vw;
  line-height: 3vw;
  padding: 2vw 0;
}

.px-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-hidden {
  display: none;
}

header#nav {
  position: relative;
  padding-bottom: 50px;
}

header#nav h1 {
  font-size: 3vw;
  color: #dda576;
  padding: 5vw;
}

header#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 20px;
  width: 920px;
  height: 200px;
  margin: 0 auto;
}

header#nav ul li {
  padding: 0px 5px;
  width: 8%;
  height: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header#nav ul li a {
  font-size: 2em;
  color: white;
  font-weight: bold;
  background-color: #172c49;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
}

header#nav ul li a:hover {
  text-decoration: none;
  background-color: #505458 !important;
}

header#nav ul li a:last-child {
  -webkit-box-shadow: 2px 2px 4px rgba(37, 37, 37, 0.486);
          box-shadow: 2px 2px 4px rgba(37, 37, 37, 0.486);
  border-radius: 100px;
}

header#nav ul li:last-child {
  position: fixed;
  z-index: 9999;
  width: 100px;
  height: 100px;
  top: -20px;
  right: 20px;
  font-weight: bold;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media all and (max-width: 500px) {
  header#nav ul {
    padding-top: 50px;
    width: 400px;
    height: 100px;
    margin: 0 auto;
  }
  header#nav ul li {
    padding: 2px 2px;
    width: 8%;
    height: 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header#nav ul li a {
    font-size: 1em;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    line-height: 40px;
  }
  header#nav ul li:last-child {
    position: fixed;
    z-index: 9999;
    width: 100px;
    height: 100px;
    top: -70px;
    right: 20px;
    font-weight: bold;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

.col-form-goal img {
  width: 100%;
}

.col-form-pixel h2 {
  font-size: 1.8vw;
  letter-spacing: 0.01em;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 16px;
  margin: 0;
}

.col-form-pixel #emergency {
  padding: 1.5vw;
  border-left: 0.5px solid #ccc;
}

.col-form-pixel #emergency h3 {
  font-size: 1vw;
  margin: 0;
  padding-top: 15px;
  border-top: 0.5px solid #ccc;
}

.col-form-pixel #emergency h4 {
  font-weight: bold;
  font-size: 1vw;
  margin-bottom: 8px;
  letter-spacing: 0.02em;
  padding-top: 11px;
}

.col-form-pixel #emergency label {
  display: block;
  font-size: 0.7em;
  margin: 0;
  padding: 2px 0 12px;
}

.col-form-pixel #emergency .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-form-pixel #emergency .flex-block .flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-form-pixel #emergency .flex-align-block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.col-form-pixel #emergency .flex-align-item {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-form-pixel #emergency .flex-justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-form-pixel #emergency .form-control-border {
  border: 1px solid #cccccc;
  border-top: 1.5px solid #7474748f;
  margin: 0;
  padding: 0;
}

.col-form-pixel #emergency .box-height {
  height: 1.8vw;
}

.col-form-pixel #emergency .box-height-1 {
  height: 135px;
}

.col-form-pixel #emergency .box-size-1 {
  width: 26px;
}

.col-form-pixel #emergency .box-size-2 {
  width: 25px;
}

.col-form-pixel #emergency .box-size-3 {
  width: 35px;
}

.col-form-pixel #emergency .box-size-4 {
  width: 5.6vw;
}

.col-form-pixel #emergency .box-size-5 {
  width: 9vw;
}

.col-form-pixel #emergency .box-size-6 {
  width: 48%;
}

.col-form-pixel #emergency .box-size-100 {
  width: 100%;
}

.col-form-pixel #emergency .m-right-1 {
  margin-right: 5px;
}

.col-form-pixel #emergency .m-right-2 {
  margin-right: 4%;
}

.col-form-pixel #emergency .m-right-3 {
  margin-right: 124px;
}

.col-form-pixel #emergency .m-duo-x {
  margin: 0 5px;
}

.col-form-pixel #emergency .p-top-0 {
  padding-top: 0;
}

.col-form-pixel #emergency .p-bottom-1 {
  padding-bottom: 6px;
}

.col-form-pixel #emergency .round {
  border-radius: 5px;
}

.col-form-pixel #emergency .bg-color-white {
  background-color: white;
}

.col-form-pixel #emergency .submit {
  border: 0.5px solid #ccc;
  font-size: 0.8em;
  margin: 15px 0;
}

.container-footer {
  color: #b0aca4;
  font-size: 1vw;
  line-height: 1vw;
}

.container-footer .col-footer-goal {
  padding: 0;
  margin: 0;
}

.container-footer .col-footer-pixel {
  padding: 1.5%;
  background-color: #f8f3e9;
}

.container-footer .col-footer-pixel .pad-icon {
  margin: 0;
}

.container-footer .col-footer-pixel .pad-icon a {
  color: #7b7974;
  padding: 0.8vw;
}

.container-footer .col-footer-pixel .pad-icon a:hover {
  cursor: pointer;
}

.container-footer .col-footer-pixel .pad-text {
  margin: 0;
  padding-right: 1.5vw;
}

.container-footer .col-footer-pixel .pad-text a {
  color: #b0aca4;
  padding: 0.8vw;
}

.container-footer .col-footer-pixel .pad-text a:hover {
  cursor: pointer;
}

.container-footer p {
  margin: 0 0 0 1.6vw;
}

.container-footer .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-footer .flex-justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-footer .flex-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-pagination-pixel .pagination-content {
  height: 11.8vw;
  background-color: #e5e5e5;
}

.col-pagination-pixel .pagination-content .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-right: 1.5vw;
}

.col-pagination-pixel .pagination-content .flex-block li {
  padding: 0 0.35%;
  text-align: center;
}

.col-pagination-pixel .pagination-content .flex-block li a {
  font-weight: bold;
  padding: 1.2vw;
  display: inline-block;
  width: 7vw;
  text-decoration: none;
  background-color: #3c444e;
  color: white;
  border-radius: 0.7vw;
  font-size: 2vw;
}

.col-pagination-pixel .pagination-content .flex-block li a:hover {
  background-color: #3aa1e7;
}

.col-pagination-pixel .pagination-content .flex-block li .btn-large {
  width: 8vw;
}

.col-pagination-pixel .pagination-content .flex-block li .btn-is-active {
  background-color: #3aa1e7;
}

.col-pagination-pixel .pagination-content .flex-block li:first-child a {
  background-color: transparent;
  color: black;
}

.col-pagination-pixel .pagination-content .flex-block li:nth-child(5) a {
  background-color: transparent;
  color: black;
}

.row {
  margin: 0;
}

@media screen and (max-width: 720px) {
  .col-pagination-goal {
    padding: 0;
    margin: 0;
  }
  .col-pagination-goal img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 100%;
    padding: 0;
  }
}

.col-zone-benefits-grid-pixel {
  font-size: 1.2vw;
  line-height: 1.4vw;
  letter-spacing: 0.07em;
}

.col-zone-benefits-grid-pixel .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-zone-benefits-grid-pixel .flex-block .flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.col-zone-benefits-grid-pixel .flex-block li {
  max-width: 25%;
  min-width: 20%;
  padding: 1.4vw;
}

.col-zone-benefits-grid-pixel .flex-block li .size-content {
  width: 80%;
  margin: auto;
  height: 20vw;
  position: relative;
}

.col-zone-benefits-grid-pixel .flex-block li .size-content img {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.col-zone-benefits-grid-pixel .flex-block li .size-content #grunt {
  width: 66%;
}

.col-zone-benefits-grid-pixel .flex-block li .size-content #gulp {
  width: 35%;
}

.col-zone-benefits-grid-pixel .flex-block li .size-content #octocat {
  width: 80%;
}

.col-zone-benefits-grid-pixel .flex-block li .size-content #npm {
  width: 69%;
}

.col-zone-benefits-grid-pixel .flex-block h3 {
  font-size: 2.3vw;
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #7fbf94;
  padding-bottom: 1.6vw;
  padding-left: 1.7vw;
}

.col-zone-benefits-grid-pixel .flex-block p {
  padding-left: 1.7vw;
  width: 85%;
}

.col-zone-cards-pixel {
  padding-left: 6.4vw;
  font-size: 1vw;
  position: relative;
}

.col-zone-cards-pixel h3 {
  font-size: 2.4vw;
  font-weight: bold;
  color: #484848;
  display: inline-block;
  margin-bottom: 2.5vw;
}

.col-zone-cards-pixel .plus {
  display: inline-block;
  width: 85%;
  text-align: end;
}

.col-zone-cards-pixel .plus a {
  color: black;
  text-decoration: none;
}

.col-zone-cards-pixel .flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-zone-cards-pixel .flex-block li {
  width: 16.6vw;
  margin-right: 1.4vw;
}

.col-zone-cards-pixel .flex-block li:last-child {
  margin-right: 0px;
}

.col-zone-cards-pixel .flex-block li .img-content {
  width: 100%;
}

.col-zone-cards-pixel .flex-block li .img-content img {
  width: 100%;
  margin: 0;
}

.col-zone-cards-pixel .flex-block li p {
  font-size: 1.2vw;
  padding-top: 0.6vw;
  letter-spacing: 0.03em;
  color: #7f7f7f;
}

.col-zone-cards-pixel .flex-block li p span {
  font-weight: bold;
  color: #484848;
}

.col-zone-cards-pixel .flex-block li .com-content {
  font-size: 1vw;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.col-zone-cards-pixel .flex-block li .com-content .star {
  color: #45a097;
  font-size: 1em;
  padding-right: 3px;
}

.col-zone-cards-pixel .flex-block li .com-content .star i {
  padding: 1px;
}

.col-zone-cards-pixel .next {
  color: #777;
  font-size: 2vw;
  position: absolute;
  top: 58%;
  right: 2%;
}

@media all and (max-width: 720px) {
  .col-zone-cards-pixel .flex-block li {
    width: 16.2vw;
  }
}

.col-zone-cta-pixel {
  text-align: center;
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  padding: 4vw 0;
}

.col-zone-cta-pixel h2 {
  font-size: 5.1vw;
  line-height: 6vw;
  font-weight: bold;
}

.col-zone-cta-pixel p {
  font-size: 1.9vw;
  line-height: 1.5em;
}

.col-zone-cta-pixel p a {
  color: #75ba8c;
  text-decoration: none;
}

.col-zone-cta-pixel .button-cta {
  font-size: 1.5vw;
  padding: 1.5vw 2.8vw;
  border-radius: 0.2vw;
  background-color: #75ba8c;
  color: white;
  display: inline-block;
  text-decoration: none;
  margin: 2vw;
}

.col-zone-hero-pixel {
  position: relative;
}

.col-zone-hero-pixel .content-img img {
  width: 75%;
  height: 53vw;
  float: right;
  -o-object-fit: cover;
     object-fit: cover;
}

.col-zone-hero-pixel .content-text {
  position: absolute;
  top: 0;
}

.col-zone-hero-pixel .content-text h2 {
  padding-top: 7.8vw;
  font-size: 3.2vw;
  letter-spacing: 0.03em;
  width: 24vw !important;
}

.col-zone-hero-pixel .content-text .content-size {
  width: 28vw;
  margin-left: 9vw;
}

.col-zone-hero-pixel .content-text p {
  font-size: 1.3vw;
  line-height: 1.5em;
  padding: 1.5vw 0;
}

.col-zone-hero-pixel .content-text a {
  font-size: 1.2vw;
  line-height: 4.3vw;
  background-color: #e5b83f;
  color: black;
  padding: 1.2em 2.5vw;
  text-decoration: none;
}

.col-zone-related-link-pixel {
  padding: 3vw;
  position: relative;
}

.col-zone-related-link-pixel h2 {
  font-size: 2vw;
  line-height: 1vw;
  font-weight: bold;
  display: inline-block;
  border-bottom: 1px solid #b1b1b2;
  padding-bottom: 2vw;
  z-index: 1;
}

.col-zone-related-link-pixel h2:after {
  content: "";
  position: absolute;
  top: 4vw;
  right: 3vw;
  left: 3vw;
  border-bottom: 1px solid #b1b1b2;
  padding-bottom: 2vw;
  height: 0px;
  z-index: -9999;
  opacity: 0.5;
}

.col-zone-related-link-pixel a {
  float: right;
  color: #999a9b;
  font-size: 1vw;
  text-decoration: none;
}

.col-zone-related-link-pixel ul {
  padding-top: 2vw;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 29em;
  margin: 0;
}

.col-zone-related-link-pixel ul li {
  width: 50%;
  clear: both;
  padding-bottom: 1.5vw;
}

.col-zone-related-link-pixel ul li h3 {
  font-size: 1.4vw;
  font-weight: bold;
  overflow: hidden;
  padding: 0.5vw 0;
}

.col-zone-related-link-pixel ul li h4 {
  padding: 0.5vw 0;
}

.col-zone-related-link-pixel ul li h4,
.col-zone-related-link-pixel ul li p {
  font-size: 1.2vw;
}

.col-zone-related-link-pixel ul li p,
.col-zone-related-link-pixel ul li span {
  color: #999a9b;
}

.col-zone-related-link-pixel ul li img {
  width: 9%;
  border-radius: 50%;
  background-color: #524848;
  float: left;
  margin-right: 10px;
}

@media all and (max-width: 720px) {
  .col-zone-related-link-pixel ul {
    height: 9em;
  }
}

@media all and (max-width: 500px) {
  .col-zone-related-link-pixel ul {
    height: 7em;
  }
}

.col-zone-story-pixel {
  font-family: sans-serif;
  padding: 2.2vw 2vw;
}

.col-zone-story-pixel h2 {
  font-size: 2.4vw;
  font-weight: bold;
  color: #484848;
}

.col-zone-story-pixel p {
  font-size: 1.5vw;
  color: #616161;
  padding: 1.4vw 0;
  width: 30vw;
  line-height: 1.8vw;
}

.col-zone-story-pixel .content-texte {
  float: left;
  padding: 8vw 2vw 0;
  width: 40%;
}

.col-zone-story-pixel .content-img {
  float: right;
  width: 54.1%;
}

.col-zone-story-pixel .content-img img {
  width: 100%;
}

.col-zone-story-pixel a {
  display: inline-block;
  text-decoration: none;
  background-color: #348087;
  font-size: 1.4vw;
  padding: 1vw 1.4vw;
  border-radius: 0.3vw;
  color: white;
}

.col-custom-numeric-pixel {
  font-size: 1.2vw;
  line-height: 1.1em;
  position: relative;
}

.col-custom-numeric-pixel ol {
  width: 42%;
  margin: auto;
  padding: 3vw 4vw 3vw 0px;
}

.col-custom-numeric-pixel ol li:first-child {
  background: url(../img/numeric-counter-01.png) no-repeat -2% -5%;
  background-size: 10%;
}

.col-custom-numeric-pixel ol li:nth-child(2) {
  background: url(../img/numeric-counter-02.png) no-repeat -2% -5%;
  background-size: 10%;
}

.col-custom-numeric-pixel ol li {
  list-style-type: none;
  padding-bottom: 2vw;
}

.col-custom-numeric-pixel ol li h3 {
  font-size: 1.2vw;
  color: #4c5f80;
}

.col-custom-numeric-pixel ol li p,
.col-custom-numeric-pixel ol li h3 {
  padding-left: 4vw;
}

.col-custom-numeric-pixel ol li p a {
  color: #535e7a;
}

.col-custom-numeric-pixel .content-diggs {
  position: absolute;
  top: 0px;
  left: 70%;
  font-family: sans-serif;
}

.col-custom-numeric-pixel .content-diggs .diggs {
  width: 2.5vw;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff29d), to(#fdf4cd));
  background: linear-gradient(#fff29d, #fdf4cd);
  border-radius: 10px 3px;
  padding: 0.8vw;
}

.col-custom-numeric-pixel .content-diggs .diggs-it {
  display: block;
  text-align: center;
  padding: 0.3vw;
  border: 0.1vw solid #e0e4e5;
  color: #54657f;
  font-size: 0.8em;
  font-weight: bold;
  text-decoration: none;
  margin-top: 0.3vw;
}

.col-ecommerce-catalog-pixel {
  padding: 0;
  font-family: sans-serif;
}

.col-ecommerce-catalog-pixel ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #d8d8d8;
}

.col-ecommerce-catalog-pixel ul li {
  width: 25%;
  border-right: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  padding: 2vw;
  position: relative;
}

.col-ecommerce-catalog-pixel ul li .deal {
  position: absolute;
  top: 0;
  left: 0;
  color: #ce4442;
  font-size: 0.9vw;
  font-weight: bold;
}

.col-ecommerce-catalog-pixel ul li .deal span {
  display: inline-block;
  background-color: #ce4442;
  color: white;
  padding: 0.5vw;
  margin-right: 15px;
}

.col-ecommerce-catalog-pixel ul li .content-img {
  width: 70%;
  margin: 0 auto;
  padding: 7vw 0;
  position: relative;
}

.col-ecommerce-catalog-pixel ul li .content-img img {
  width: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.col-ecommerce-catalog-pixel ul li p {
  font-size: 1vw;
}

.col-ecommerce-catalog-pixel ul li .description {
  font-weight: bold;
  padding-bottom: 2vw;
}

.col-ecommerce-catalog-pixel ul li .description-mark {
  color: #aaaaaa;
  padding-bottom: 3vw;
}

.col-ecommerce-catalog-pixel ul li .price-promo {
  color: #ce4442;
  display: inline;
  font-size: 1.7vw;
  font-weight: bold;
}

.col-ecommerce-catalog-pixel ul li .price-promo span {
  font-size: 1vw;
}

.col-ecommerce-catalog-pixel ul li .not-price {
  display: inline-block;
  text-decoration: line-through;
  margin: 0;
}

.col-ecommerce-catalog-pixel ul li .promo-texte {
  font-size: 0.8vw;
  color: #aaaaaa;
  padding-bottom: 2vw;
}

.col-ecommerce-catalog-pixel ul li .promo-texte span {
  color: #ce4442;
  font-weight: bold;
}

.col-ecommerce-catalog-pixel ul li a {
  display: block;
  padding: 1.3vw;
  background-color: #eeb03e;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}

.col-ui-chart-pixel {
  background-color: #f2f2f2;
  width: 49%;
  margin: auto;
  text-align: center;
  font-size: 1vw;
  font-family: sans-serif;
  padding: 0.8vw;
}

.col-ui-chart-pixel .text-left {
  text-align: left;
}

.col-ui-chart-pixel .text-right {
  text-align: right;
}

.col-ui-chart-pixel h3 {
  font-size: 1.7vw;
  font-weight: initial;
  padding: 1.5vw 0;
  color: #9d9d9d;
}

.col-ui-chart-pixel table {
  border-spacing: 0.3vw;
  border-radius: 0.3vw;
  border-collapse: separate;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0px 1px 0.3vw #9d9d9d;
          box-shadow: 0px 1px 0.3vw #9d9d9d;
}

.col-ui-chart-pixel table tbody {
  border-bottom: 2vw solid white;
  border-left: 2vw solid white;
  border-right: 2vw solid white;
  display: block;
}

.col-ui-chart-pixel table tbody .color-grey {
  color: #9d9d9d;
}

.col-ui-chart-pixel table tr {
  border-bottom: 1px solid #e0e0e0;
  display: inline-table;
  width: 100%;
}

.col-ui-chart-pixel table tr:first-child {
  font-size: 1.3vw;
}

.col-ui-chart-pixel table tr td,
.col-ui-chart-pixel table tr th {
  padding: 0.9vw 0;
}

.col-ui-chart-pixel table tr .date-control {
  width: 22%;
  text-align: left;
}

.col-ui-chart-pixel table tr .blue-100 {
  background-color: #3270d3;
}

.col-ui-chart-pixel table tr .blue-50 {
  background-color: #468df1;
}

.col-ui-chart-pixel table tr .blue-40 {
  background-color: #75a8f4;
}

.col-ui-chart-pixel table tr .blue-30 {
  background-color: #a3c4f7;
}

.col-ui-chart-pixel table tr .blue-20 {
  background-color: #d1e1fb;
}

.col-ui-chart-pixel table tr:last-child {
  border-bottom: none;
}

.col-ui-chart-pixel table tfoot {
  display: block;
  border-top: 1px solid #e0e0e0;
  border-left: 2vw solid white;
  border-right: 2vw solid white;
}

.col-ui-chart-pixel table tfoot select {
  background-color: transparent;
  border: none;
  font-size: 1.2vw;
  color: #9d9d9d;
}

.col-ui-chart-pixel table tfoot a {
  text-decoration: none;
  text-align: right;
  font-size: 1.3vw;
  text-transform: uppercase;
  color: #9ec2ea;
}

.col-ui-chart-2-pixel {
  width: 48.4%;
  border: 0.8vw solid #ededed;
  margin: auto;
  color: white;
  font-size: 1.2vw;
  font-family: sans-serif;
}

.col-ui-chart-2-pixel .content-card {
  border-radius: 0.3vw;
  padding: 3vw;
  background-color: #468df1;
  -webkit-box-shadow: 1px 1px 6px #444444;
          box-shadow: 1px 1px 6px #444444;
}

.col-ui-chart-2-pixel .content-card h3 {
  font-size: 1.6vw;
  letter-spacing: 0.02em;
  margin: 0;
  font-weight: initial;
}

.col-ui-chart-2-pixel .content-card .badge-chart {
  font-size: 8vw;
  display: block;
  padding: 2.5vw 0;
}

.col-ui-chart-2-pixel .content-card .color-blue {
  color: #9dc1f7;
}

.col-ui-chart-2-pixel .content-card p {
  margin: 0;
  padding: 0.7vw 0;
}

.col-ui-chart-2-pixel .content-card ul {
  padding-top: 1vw;
}

.col-ui-chart-2-pixel .content-card ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.089);
  padding: 0.7vw 0;
  font-size: 1.9vw;
}

.col-ui-chart-2-pixel .content-card ul li:last-child {
  border: none;
}

.col-ui-chart-2-pixel .content-card .footer-card {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: right;
  position: relative;
  padding-top: 20px;
}

.col-ui-chart-2-pixel .content-card .footer-card:before {
  border-top: 0.5px solid rgba(255, 255, 255, 0.089);
  content: " \00a0";
  display: inline-block;
  position: absolute;
  top: 0px;
  right: -20px;
  left: -20px;
}

.col-layout-staff-goal img {
  width: 100%;
}

.col-layout-staff-pixel {
  font-family: sans-serif;
}

.col-layout-staff-pixel .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  margin: 0;
  width: 100%;
  padding-right: 35px;
}

.col-layout-staff-pixel .nav ul li a {
  display: inline-block;
  width: 9vw;
  line-height: 8vw;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.col-layout-staff-pixel .nav ul li a:hover {
  background-color: #7fbb49;
  border-bottom: 0.5vw solid #7fbb49;
}

.col-layout-staff-pixel .nav ul .link-is-active {
  border-bottom: 0.5vw solid #7fbb49;
}

.col-layout-staff-pixel .second-header {
  text-align: center;
  background-color: #7fbb49;
  color: white;
  padding: 8vw;
}

.col-layout-staff-pixel .second-header h2 {
  text-transform: uppercase;
  font-size: 3.5vw;
  font-weight: bold;
  padding-top: 5px;
}

.col-layout-staff-pixel .second-header p {
  font-size: 1.5vw;
  width: 77%;
  margin: 0 auto;
  letter-spacing: 0.02em;
  padding: 1vw 0;
  line-height: 1.8em;
}

.col-layout-staff-pixel .team-dots h3 {
  margin: 0;
  padding: 50px 0 0px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.col-layout-staff-pixel .team-dots ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.col-layout-staff-pixel .team-dots ul li {
  width: 20%;
  padding: 2.5%;
  font-size: 1.2vw;
  line-height: 1.5em;
}

.col-layout-staff-pixel .team-dots ul li:hover {
  background-color: rgba(204, 204, 204, 0.267);
}

.col-layout-staff-pixel .team-dots ul li .avatar-name {
  font-weight: bold;
  padding-top: 10px;
}

.col-layout-staff-pixel .team-dots ul li .avatar-status {
  font-weight: bold;
  color: #c1c1c1;
  padding: 0.5vw;
  font-size: 1vw;
}

.col-layout-staff-pixel .team-dots ul li .avatar-desc {
  letter-spacing: 0.02em;
}
/*# sourceMappingURL=style.css.map */